@using System.Data
@model IEnumerable<PAS_project.Models.Movie>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pl">
<head></head>
<body>
<h1>Movies:</h1>
    @foreach (var movie in Model)
    {
        <li>@movie.Title</li>
    }
</body>
</html>