@model object

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
    <h1>Seances:</h1>
    @foreach (var seance in ViewBag.Seances)
        {
            <li>@seance.Movie.Title</li>
        }
</div>
</body>
</html>