@model IEnumerable<Seance>;

@{
    ViewData["Title"] = "Seances";
}

<div class="list-group mt-4">
    @foreach (var seance in Model)
    {
        <a class="list-group-item list-group-item-action py-3 my-2">ID: @seance.Id | Tytuł: @seance.Movie.Title | Godzina: @seance.StartingTime</a>
    }
</div>