@model IDictionary<CinemaHall.Seat, bool>


<div class="container align-items-center">
    
    <input type="text" class="form-control my-3 w-q25" placeholder="User ID">
    <div class="row mt-4">
        @foreach (var (key, value) in Model)
        {
            <div class="col-1">
                @{ var myClass = "btn-success";}
                @if (value)
                {
                    myClass = "btn-danger";
                }
                <button class="btn @myClass m-2">
                    @key.Row@(key.Column)
                </button>
            </div>
        }
    </div>
</div>