@model BookSeatViewModel


<div class="container align-items-center">
    
    
    <div class="row mt-4">
        @foreach (var (key, value) in Model.Seats)
        {
            <div class="col-1">
                @{ var myClass = "btn-success";}
                @if (value)
                {
                    myClass = "btn-danger";
                }
                <button class="btn @myClass m-2">
                    @key.Row@(key.Column)
                </button>
            </div>
        }
    </div>
    <form asp-controller="Booking" asp-action="Create" method="post">
        <input asp-for="SeanceId" type="hidden" value="@Model.Seance.Id">
        <input asp-for="UserId" type="text" class="form-control my-3 w-25" placeholder="User ID">
        <input asp-for="SeatId" type="text" class="form control my-3 w-25" placeholder="Seat ID">
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
</div>