@model IDictionary<CinemaHall.Seat, bool>


<div class="container">
    <div class="row mt-4">
        
        @foreach (var seat in Model)
        {
            <div class="col-1">
                @{ var myClass = "btn-success";}
                @if (seat.Value)
                {
                    myClass = "btn-danger";
                }
                <button class="btn @myClass m-2">
                    @seat.Key.Row@seat.Key.Column
                </button>
            </div>
        }
    </div>
</div>