@model EditSeanceViewModel

@{
    ViewBag.Title = "Create Seance";
}

<form asp-controller="Seance" asp-action="Edit" method="post" class="container-fluid mt-3 p-1" style="width: 50%">
    
    <div class="form-group row">
        <label asp-for="MovieId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="MovieId" class="form-control" placeholder="Movie ID"/>
            <span asp-validation-for="MovieId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CinemaHallId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="CinemaHallId" class="form-control" placeholder="CinemaHall ID"/>
            <span asp-validation-for="CinemaHallId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="DateTime" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input asp-for="DateTime" placeholder="Starting time"
                       class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>
            <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Edit</button>
    </div>

</form>